.header-color{
    background-color: red;
}

/* body{
    background-color: grey;
} */

.body-on{
    background-color: white;
}

.body-off{
    background-color: black;
}

.buttons{
    height: 100vh;
}